<?xml version="1.0" encoding="utf-8" ?>
<CacheConfiguration refreshMinutes="30">
  <cacheManagers>
    <!-- 
        Here is the entity list which wants the custom configuration. 
        name : the full name of the entity 
        
        dataCacheLocalCacheInvalidationPolicy:  TimeoutBased -> sets the local cached items is expired by time out
                                                NotificationBased -> sets the local cached items is expired by notification 
        defaultTimeOut: it's the time out format is millisecond
        
        objectCount: it's allowed the total count of the cached items
      -->

    <!-- Messaging Cache Manager -->
    <add name="Messaging Cache Manager"  defaultTimeOut ="86400000" />
    <!-- Account -->
    <add name="JZTERP.Common.Shared.Entities.Account.AccountReceivableSum"  defaultTimeOut ="1800000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustAccountsAudit_Info"  defaultTimeOut ="30000" />
    <add name="JZTERP.Common.Shared.Entities.Account.CustomerAccount_Info"  defaultTimeOut ="600000" />

    <add name="JZTERP.Common.Shared.Entities.Account.AccountingParam_Info"  defaultTimeOut ="86400000" />

    <!-- Sys -->
    <add name="JZTERP.Common.Shared.Entities.Sys.OrganizationInfo"  defaultTimeOut ="86400000" />
    <add name="JZTERP.Common.Shared.Entities.Sys.ClassStorageInfo"  defaultTimeOut ="86400000" />
    
    <!-- Basis -->
    <add name="JZTERP.Common.Shared.Entities.Basis.OrganizationInfo"  defaultTimeOut ="86400000" /> <!--没用了-->
    <add name="JZTERP.Common.Shared.Entities.Basis.LTwoCustMaintainInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.LtwoCustLicenseInfo"  defaultTimeOut ="60000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.ClassStorage"  defaultTimeOut ="86400000" />  <!--没用了-->

    <!-- Common -->
    <add name="JZTERP.Common.Shared.Entities.Basis.DictItem_Info"  defaultTimeOut ="3600000" />


    <!-- Cust -->
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CommonCustInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustBankInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustBusinessInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustContactWayInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustCreditInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustEmpRelationInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustFixtureInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustKeyValueItemInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustLicenseInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustLogisticsInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustMainInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.Cust.CustQualificationInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Cust.CustProdLicenseInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Basis.RiskCustomersInfo"  defaultTimeOut ="60000" />
    <add name="JZTERP.Common.Shared.Entities.Sale.ProscopeAllotInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Cust.QXCustSpecialScopeInfo"  defaultTimeOut ="1800000" />

    <add name="JZTERP.Common.Shared.Entities.Cust.CustTYHZ"  defaultTimeOut ="60000" />


    <!-- Price -->
    <add name="JZTERP.Common.Shared.Entities.Price.ProdCustsPriceInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Price.ProdCustTypePriceInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Price.TenderAgreePriceSum_Info"  defaultTimeOut ="600000" />

    <add name="JZTERP.Common.Shared.Entities.Price.PriceCManagementInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Price.SpecialPriceApplyInfo"  defaultTimeOut ="60000" />

    <!-- Sale -->
    <add name="JZTERP.Common.Shared.Entities.Sale.CreditOutInfo"  defaultTimeOut ="3600000" />
    <add name="JZTERP.Common.Shared.Entities.Sale.CreditAllocationInfo"  defaultTimeOut ="3600000" />
    <add name="JZTERP.Common.Shared.Entities.Sale.SpecBusiSolutionInfo"  defaultTimeOut ="3600000" />
    <add name="JZTERP.Common.Shared.Entities.Sale.LimitSalesRole_Info"  defaultTimeOut ="300000" />
    <add name="JZTERP.Common.Shared.Entities.Sale.ApplySpecialSumInfo"  defaultTimeOut ="300000" />
    <!--<add name="JZTERP.Common.Shared.Entities.Sale.SaleOrderSum_Info"  defaultTimeOut ="30000" />-->


    <!-- SaleRestrict -->
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.ProdCustSaleRestrictInfo"  defaultTimeOut ="1800000" /> <!--重复了-->
    <add name="JZTERP.Common.Shared.Entities.Business.ProdCustSaleRestrictInfo"  defaultTimeOut ="1800000" /> <!--没用了-->
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.SpeciLimitSalesInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.ProdLimitSalesInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.KindLimitSalesInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.ProductReservesInfo"  defaultTimeOut ="1800000" />
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.ProdSaleRestrict"  defaultTimeOut ="300000" />
    <add name="JZTERP.Common.Shared.Entities.Business.ProdSaleRestrict_Info"  defaultTimeOut ="300000" /><!--重复了-->
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.SpecCustLimitSales"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.SaleRestrict.ProdTypeLimitSales"  defaultTimeOut ="600000" />


    <!-- Prod -->
    <add name="JZTERP.Common.Shared.Entities.Basis.Prod.CommonProdInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Prod.ProdClassAllotInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Prod.BasicProdInfo"  defaultTimeOut ="600000" />
    <add name="JZTERP.Common.Shared.Entities.Prod.BaseProdCustRestrict_Info"  defaultTimeOut ="1800000" />
    <add name="JZTERP.Common.Shared.Entities.Prod.SaleCustProdRelationInfo"  defaultTimeOut ="600000" />

    <!-- Stock -->
    <add name="JZTERP.Common.Shared.Entities.Stock.StockRetainByCustInfo"  defaultTimeOut ="300000" />
    <add name="JZTERP.Common.Shared.Entities.Stock.StockRetainByCustTypeInfo"  defaultTimeOut ="300000" />
  </cacheManagers>
  <settings>
    <add key="UseRedisCache" value="false"/>
    <!--
        This is a prefix key for generating the cache key.
      -->
    <add key="CacheKeyPrefix" value="BETA"/>


  </settings>
</CacheConfiguration>