<?xml version="1.0" encoding="UTF-8"?>
<exceptionHandling>
  <exceptionPolicies>
    <add name="Global Policy">
      <exceptionTypes>
        <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
          <exceptionHandlers>
            <add logCategory="Error" eventId="100" severity="Error" title="Exception Handling" priority="0" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          </exceptionHandlers>
        </add>
      </exceptionTypes>
    </add>
    <add name="Log Only Policy">
      <exceptionTypes>
        <add name="SystemException" type="Eds.AirSoa.Util.Messaging.ASOASystemException, Eds.AirSoa.Util.Logging" postHandlingAction="None">
          <exceptionHandlers>
            <add logCategory="Error" eventId="100" severity="Error" title="ASOA System Exception" priority="0" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          </exceptionHandlers>
        </add>
        <add name="ApplicationException" type="Eds.AirSoa.Util.Messaging.ASOAApplicationException, Eds.AirSoa.Util.Logging" postHandlingAction="None">
          <exceptionHandlers>
            <add logCategory="Warn" eventId="100" severity="Warning" title="ASOA Application Exception" priority="0" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          </exceptionHandlers>
        </add>
        <add name="ValidationException" type="Eds.AirSoa.Util.Messaging.ASOAValidationException, Eds.AirSoa.Util.Logging" postHandlingAction="None">
          <exceptionHandlers>
            <add logCategory="Info" eventId="100" severity="Information" title="ASOA Validation Exception" priority="0" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          </exceptionHandlers>
        </add>
      </exceptionTypes>
    </add>
    <add name="Propagate Policy">
      <exceptionTypes>
        <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
          <exceptionHandlers />
        </add>
      </exceptionTypes>
    </add>
    <add name="Log And Propagate Policy">
      <exceptionTypes>
        <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
          <exceptionHandlers>
            <add logCategory="Error" eventId="100" severity="Error" title="Exception Handling" priority="0" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          </exceptionHandlers>
        </add>
      </exceptionTypes>
    </add>
  </exceptionPolicies>
</exceptionHandling>