<?xml version="1.0" encoding="UTF-8"?>
<logDataConfiguration application="JZT" refreshMinutes="1">
  <durationInDays>
    <add name="Debug" value="30" />
    <add name="Info" value="30" />
    <add name="Warn" value="30" />
    <add name="Error" value="30" />
    <add name="Fatal" value="30" />
  </durationInDays>
</logDataConfiguration>