<?xml version="1.0" encoding="utf-8"?>
<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Info" logWarningsWhenNoCategoriesMatch="true">
  <listeners>
    <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="JZTERP.Frameworks.Common.Logging.EntLib.Configuration.EventLogListenerData,JZTERP.Frameworks.Common.Logging.EntLib" type="JZTERP.Frameworks.Common.Logging.EntLib.Listeners.EventLogListener, JZTERP.Frameworks.Common.Logging.EntLib" name="Formatted EventLog TraceListener" traceOutputOptions="None"/>
    <add formatter="Log Text Formatter" fileName="c:\jzt_log\PeoPleOrgService.log" rollSizeKB="3000" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Increment" rollInterval="Day" header="----------------------------------------" footer="----------------------------------------" ageThreshold="7" listenerDataType="JZTERP.Frameworks.Common.Logging.EntLib.Configuration.LogRollingFileListenerData, JZTERP.Frameworks.Common.Logging.EntLib" traceOutputOptions="None" type="JZTERP.Frameworks.Common.Logging.EntLib.Listeners.LogRollingFileListener, JZTERP.Frameworks.Common.Logging.EntLib" name="Log Rolling File Trace Listener" purgeInterval="24"/>
    <add fileName="c:\jzt_log\PeoPleOrgService.csv" rollSizeKB="6144" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Measurements" header="" footer="" listenerDataType="JZTERP.Frameworks.Common.Logging.EntLib.Configuration.LogRollingFileListenerData, JZTERP.Frameworks.Common.Logging.EntLib" traceOutputOptions="None" type="JZTERP.Frameworks.Common.Logging.EntLib.Listeners.LogRollingFileListener, JZTERP.Frameworks.Common.Logging.EntLib" name="Measure Rolling File Listener" ageThreshold="5"/>

    <add serviceName="jzterp.service.logservice" formatter="Text Formatter" listenerDataType="JZTERP.Frameworks.Common.Logging.EntLib.Configuration.LogServiceListenerData,JZTERP.Frameworks.Common.Logging.EntLib" type="JZTERP.Frameworks.Common.Logging.EntLib.Listeners.LogServiceListener, JZTERP.Frameworks.Common.Logging.EntLib" name="Log Service Trace Listener" traceOutputOptions="None"/>
  </listeners>
  <formatters>
    <!--    <add template="|Timestamp: {Timestamp}|ReferenceId: {ReferenceId}|Severity: {Severity}|MessageType: {MessageType}|DurationInDays: {DurationInDays}|InputRequest: {InputRequest}|Origin.Server: {Origin.Server}|Origin.Application: {Origin.Application}|Origin.CallingApplication: {Origin.CallingApplication}|Origin.ServiceName: {Origin.ServiceName}|Origin.Operation: {Origin.Operation}|Origin.Component: {Origin.Component}|Origin.Method: {Origin.Method}|Customer.CustomerCode: {Customer.CustomerCode}|Customer.UserId: {Customer.UserId}|Details.message: {Details.message}|Details.StackTrace: {Details.StackTrace}|Details.MessageCode: {Details.MessageCode}|Details.ContextList: {Details.ContextList}" type="JZTERP.Frameworks.Common.Logging.EntLib.Formatters.LogTextFormatter, JZTERP.Frameworks.Common.Logging.EntLib" name="Log Text Formatter"/>-->
    <add template="|Timestamp: {Timestamp}|ReferenceId: {ReferenceId}|Severity: {Severity}|MessageType: {MessageType}|DurationInDays: {DurationInDays}|InputRequest: {InputRequest}|Origin.Server: {Origin.Server}|Origin.Application: {Origin.Application}|Origin.CallingApplication: {Origin.CallingApplication}|Origin.ServiceName: {Origin.ServiceName}|Origin.Operation: {Origin.Operation}|Origin.Component: {Origin.Component}|Origin.Method: {Origin.Method}|Customer.CustomerCode: {Customer.CustomerCode}|Customer.UserId: {Customer.UserId}|Details.message: {Details.message}|Details.StackTrace: {Details.StackTrace}|Details.MessageCode: {Details.MessageCode}|Details.ContextList: {Details.ContextList}" type="JZTERP.Frameworks.Common.Logging.EntLib.Formatters.LogTextFormatter, JZTERP.Frameworks.Common.Logging.EntLib" name="Log Text Formatter"/>
    <add template="&#xD;&#xA;Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value})}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    <add template="{timestamp}, {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Measurements"/>
  </formatters>
  <logFilters>
    <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter">
      <!-- categoryFilters>
          <add name="Measure" />
        </categoryFilters -->
    </add>
  </logFilters>
  <categorySources>
    <add switchValue="All" name="Debug">
      <listeners>
        <add name="Log Rolling File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="Error">
      <listeners>
        <!--<add name="ERROR EMS Trace Listener" />-->
        <add name="Log Rolling File Trace Listener"/>
        <add name="Formatted EventLog TraceListener"/>
      </listeners>
    </add>
    <add switchValue="All" name="Fatal">
      <listeners>
        <!--<add name="FATAL EMS Trace Listener" />-->
        <add name="Log Rolling File Trace Listener"/>
        <add name="Formatted EventLog TraceListener"/>
      </listeners>
    </add>
    <add switchValue="All" name="Info">
      <listeners>
        <!--<add name="INFO EMS Trace Listener" />-->
        <add name="Log Rolling File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="TimerError">
      <listeners>
        <!--<add name="INFO EMS Trace Listener" />-->
        <add name="Log Rolling File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="TimerUsage">
      <listeners>
        <!--<add name="INFO EMS Trace Listener" />-->
        <add name="Log Rolling File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="TimerWarning">
      <listeners>
        <!--<add name="INFO EMS Trace Listener" />-->
        <add name="Log Rolling File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="Trace">
      <listeners>
        <add name="Log Rolling File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="Warn">
      <listeners>
        <add name="Log Rolling File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="Measure">
      <listeners>
        <add name="Measure Rolling File Listener"/>
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events"/>
    <notProcessed switchValue="All" name="Unprocessed Category"/>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Formatted EventLog TraceListener"/>
        <add name="Measure Rolling File Listener"/>
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>