<?xml version="1.0" encoding="utf-8"?>
<LoggerConfiguration isAuditOn="false" isDebugOn="false" isErrorOn="true" isFatalOn="true" isInfoOn="true" isTimerCheckThresholdsOn="false" isTimerUsageOn="true" isTimeStampInUtc="false" isTraceOn="false" isWarnOn="false" refreshMinutes="60" legalEntityId="-1" loginUserHttpServerVariableName="" monitorTypeName="JZTERP.Frameworks.Common.Monitoring.ApplicationMonitor, JZTERP.Frameworks.Common.Monitoring">
  <detailedSettings>
    <add name="*" timerUsageOn="false" traceOn="false" debugOn="false" thresholdError="-1" thresholdWarning="-1" />
    <add name="Soap.Outgoing.*" timerUsageOn="false" traceOn="false" debugOn="false" thresholdError="-1" thresholdWarning="-1" />
    <add name="Soap.Incoming.*" timerUsageOn="false" traceOn="false" debugOn="false" thresholdError="-1" thresholdWarning="1" />
    <add name="MasterData.Service.Drug.*" timerUsageOn="true" traceOn="false" debugOn="false" thresholdError="20" thresholdWarning="4" />
  </detailedSettings>
</LoggerConfiguration>