<?xml version="1.0" encoding="UTF-8"?>
<LogMessageConfiguration applicationId="FP" environmentId="T0" password="F92963B4EBBF5674" defaultExceptionTypeMapping="">
  <!--
        This configuration element specifies all log categories that an application can produce.
        <clientLogTypeMappingsCollection>
	        <add>…</add>
        </clientLogTypeMappingsCollection>
        
        Remarks: 
        All log categories that an application produces must be mapped to a category expected by the CALM back-end service: Audit, Debug, Error, Fatal, Info, Trace, Warn, TimerUsage, TimerWarning or TimerError.
        If an application produces a category that is not specified in this section, the log will be sent to the back-end with a category of Debug.
        
        NOTE:
        Both the original category of the log and the CALM Log Type will be stored as attributes of the log.


    -->
  <clientLogTypeMappingsCollection>
    <!--
          This configuration element adds a log type mapping.
          This element is optional.
          There can be multiple add elements.
          <add
	          name="string"
	          calmLogType=”string” />

          Attribute	   Description
          name	       Required String attribute.
                       Indicates an application-specific log category to be mapped to a common CALM log type.
          calmLogType	 Required String attribute.
                       Indicates a common log type expected by the CALM back-end service.
                       
          
          It is feasible that some, if not all, name attribute values are identical to their corresponding calmLogType attribute values.
          Possible values for the calmLogType attribute include:
          Value  	      Description  
          Audit
          Debug
          Error
          Fatal         A log that indicates that an unhandled exception occurred.
          Info          A log that contains general information about an execution.
          TimerError    A log that is produced when the execution time exceeds a specified threshold.
          TimerUsage    A log that is produced to capture who is utilizing what services and to what degree, as well as to capture the execution time of each service call.
          TimerWarning  A log that is produced when the execution time is approaching error status.
                        This can be configured as a different threshold value that is lower than the error threshold.
          Trace	        A log that indicates when a method has begun or finished executing.
          Warn


      -->
    <!-- for simply logging mechanism -->
    <add name="Audit" calmLogType="Audit" />
    <add name="Debug" calmLogType="Debug" />
    <add name="Error" calmLogType="Error" />
    <add name="Fatal" calmLogType="Fatal" />
    <add name="Info" calmLogType="Info" />
    <add name="Trace" calmLogType="Trace" />
    <add name="Warn" calmLogType="Warn" />
    <add name="TimerUsage" calmLogType="TimerUsage" />
    <add name="TimerWarning" calmLogType="TimerWarning" />
    <add name="TimerError" calmLogType="TimerError" />
    <!--
          Configuration that log exception to back-end services of CALM.
      -->
    <add name="Category For Log Only Policy" calmLogType="Error" />
    <add name="Category For Log And Propagate Policy" calmLogType="Error" />
  </clientLogTypeMappingsCollection>
  <!--
        This configuration element contains mappings of actual exception type names to the names to be used when sending a log to the CALM back-end.
        <exceptionTypeMappingsCollection>
	        <add>…</add>
        </exceptionTypeMappingsCollection>
        
        It is possible to convert actual exception type names into a different name when sending logs to the CALM back-end service.
        If that is desired, use this section to map physical exception names to the names to send to the back-end.
    -->
  <exceptionTypeMappingsCollection>
    <!--
          This configuration element adds an exception type mapping.
          This element is optional.
          There can be multiple add elements.
          <add
	          name="string"
	          targetExceptionType=”string” />

          Attribute            Description
          name                 Required String attribute.
                               Specifies an application-specific exception type to be mapped to a common CALM category.
          targetExceptionType  Required String attribute.
                               Contains a common exception expected by the CALM back-end service.

      -->
    <!--<add name="FileNotFound" targetExceptionType="UnexpectedException" />-->
    <add name="SomeExceptionName" targetExceptionType="UnexpectedException" />
  </exceptionTypeMappingsCollection>
</LogMessageConfiguration>