<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Branch" value="FDG"/>
  <add key="OracleSchema" value="SYERP" />
  <add key="ServiceType" value="netcoretest" />
  <add key="ServiceName" value="netcoretest" />
  <add key="NServiceBus/Transport" value="host=10.3.80.41;userName=masterdata;password=jztmdm" />
  <add key="HrMq" value="host=10.3.80.41;port=5672;vhost=hr;userName=masterdata;password=jztmdm;queue=ps2mdm" />
</appSettings>